
.fondo{
   background: white;
}


.separacion{
    margin-top: 15px;
}

.contenido{
    border: rgba(0, 0, 0, 0.075) 1px solid;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;

}


