.fondologin{
	background: linear-gradient(145deg, #3F51B5, #111111);
	font-family: 'Montserrat', sans-serif;
	background-repeat: no-repeat;
	background-size: cover;
	   /*background-size: 400% 400%; */
	   animation: gradient 15s ease infinite;
   }
   
   @keyframes gradient {
	   0% {
		   background-position: 0% 50%;
	   }
	   50% {
		   background-position: 100% 50%;
	   }
	   100% {
		   background-position: 0% 50%;
	   }
   }
   .login{
	 width: 350px;
	 margin: 153px auto;
	 padding: 30px 20px;
	 border-radius: 10px;
	 background-color:rgba(0, 0, 0,0.3);
	 border-bottom:5px solid #111ba1;
	 border-top:5px solid #111ba1;
   }
   .fa{
	 color:#ffffff; 
   }
   label{
	 color: white;
   }
   form{
	 box-sizing: border-box;
	 width: 100%;
	 padding: 10px;
	 margin-bottom: 20px;
   
   }
   input{
	 padding: 5px;
	 height: 40px;
	 border-radius: 10px ;
	 border-color:transparent;
	 color: white;
	 background-color:rgba(232, 231, 230,0.1);
	 width: 100%;
   }
   input:focus{
   
	 border: 1px solid #111ba1;
	 color: white;
	 box-shadow: none;
	 background-color: transparent!important;
	 transition: 0.1s;
   }
   .cssBtn{
	 margin: 10px auto;
	 width: 100%;
	 font-size: 17px;  
	 border-radius: 50%;
	 padding: 1.5%;
	 border: none;
	 cursor: pointer;
	 background-color: #111ba1;
	 color: rgb(255, 255, 255);
	 transition: 0.2s;
   
   }
   .cssBtn:hover{
	 color: white;
   }
   @media screen and (max-width: 362px){
	 body{
	   background:#181617; 
	 }
	 .login{
	   width: 97%;
	   margin: 50px auto;
	 }
	 .cssBtn{
	   width: 100%;
	 }
   }
   
   .navLink {
	color: rgb(134, 184, 250);
	background-color: transparent;
	text-decoration: none;
  }

  .navLinkActive {
	color: rgb(10, 14, 247);
	background-color: transparent;
	text-decoration: underline;
  }